body {
	margin: 0;
	background-image: url(../img/background.png);
	background-attachment: fixed;
	font-family: Verdana;
}

header {
	background: linear-gradient(to bottom, #637180, #323e4a);
	border: 1px solid #FFFFF1;
}

ul {
	list-style-type: none;
}

h1 {
	font-family: 'Lora', serif;
	font-size: 60pt;
	color: black;
	text-align: center;
}

h2 {
	color: #2B5175;
	text-align: center;
	font-size: 25pt;
	font-family: 'Lora', serif;
}

h3 {
	text-align: center;
}

main {
	max-width: 1500px;
	margin: 0 auto;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

main ul {
	list-style-type: square;
}

header a {
	color: silver;
}

.article_title a {
	color: black;
}

.read {
	padding: 5px 20px;
	background: black;
	color: white;
	font-family: Sans-Serif;
	font-size: 13pt;
	text-decoration: none;
}

.main_picture {
	width: 100%;
}

footer {
	background: #394551;
}

/* flex */
.menu {
	display: flex;
	justify-content: space-evenly;
	align-items: center; 
}

.flex_main {

	margin-top: 3%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.flex_main div {
    padding: 15px;
    margin: 15px;
    background: lightgrey;
	text-align: justify;
 }
 
.flex_main_middle {

  display: flex-inline;
  flex-direction: column;
}

.flex_main_middle div {
	height: 120px;
	margin: 20px;
	background: white;
	color: black;
}

.picture_main {
	float: right;
	padding-left: 15px;
}

.left {
	padding-left: 0;
	float: left;
	padding-right: 15px;
}

.content {
	padding: 20px;
	text-align: justify;
}

/* gallery */

.container_one {
	display: flex;
	height: 375px;
	justify-content: space-between;
}

.one {
	flex: 1;
}

.two {
	flex: 2;
}

div p {
	text-align: justify;
	padding-left: 20px;
	padding-right: 20px;
}

.three {
	flex: 3;
}

.container_two {
	height: 250px;
	display: flex;
}

.container_three {
	display: flex;
	height: 900px;
	flex: 2;
	margin-top: 60px;
}

.column {
	flex: 1;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
}

.container_three {
	margin-top: 20px;
}