.body {
    margin: 0;
}

.container {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.one {
    background: lightblue;
}

.two {
    background: red;
}

.three {
    background: yellow;
}

.flex-12 {
    flex: 100%;
}

.flex-6 {
    flex: 50%;
}

.flex-3 {
    flex: 25%;
}

.flex-4 {
    flex: 33.33%;
}